.container {
  position: fixed;
  width: 100%;

  z-index: 999;
  background: black;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.logo {
  color: red;
  font-size: 25px;
  font-weight: bold;
}
